body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #191919;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: #363636;
    padding: 30px;
    width: 550px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ffff;
}

label {
    margin: 10px 0;
    font-weight: bold;
    color: #ffffff7b;
}

input {
    width: 50px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    background: #F37413;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background: #ff9933;
}

#matrixInput {
    display: none;
    margin-top: 20px;
}

p{
    color: #ffffff;
}
#matrixA,
#matrixB {
    margin-top: 10px;
}

#matrixA input,
#matrixB input {
    margin: 5px;
}

#result {
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}
